<div>
  <h2 id="page-heading" data-cy="QuyTienHeading">
    <span jhiTranslate="finmansysApp.quyTien.home.title">Quy Tiens</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="finmansysApp.quyTien.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-quy-tien"
        [routerLink]="['/quy-tien/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="finmansysApp.quyTien.home.createLabel"> Create a new Quy Tien </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="quyTiens?.length === 0">
    <span jhiTranslate="finmansysApp.quyTien.home.notFound">No quyTiens found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="quyTiens && quyTiens.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ten"><span jhiTranslate="finmansysApp.quyTien.ten">Ten</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="soTien">
            <span jhiTranslate="finmansysApp.quyTien.soTien">So Tien</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="soTien">
            <span jhiTranslate="finmansysApp.quyTien.soTienHienTai">So Tien Hien Tai</span>
          </th>
          <th scope="col" jhiSortBy="loaiQuy.ten">
            <span jhiTranslate="finmansysApp.quyTien.loaiQuy">Loai Quy</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="maKeToan.ten">
            <span jhiTranslate="finmansysApp.quyTien.maKeToan">Ma Ke Toan</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="khachSan.ten">
            <span jhiTranslate="finmansysApp.quyTien.khachSan">Khach San</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ghiChu">
            <span jhiTranslate="finmansysApp.quyTien.ghiChu">Ghi Chu</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let quyTien of quyTiens; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/quy-tien', quyTien.id, 'view']">{{ quyTien.id }}</a>
          </td>
          <td>{{ quyTien.ten }}</td>
          <td>{{ quyTien.soTien | currency: 'VNĐ' }}</td>
          <td>{{ getSoTienHienTai(quyTien) | currency: 'VNĐ' }}</td>
          <td>
            <div *ngIf="quyTien.loaiQuy">
              <a [routerLink]="['/loai-quy', quyTien.loaiQuy?.id, 'view']">{{ quyTien.loaiQuy?.ten }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="quyTien.maKeToan">
              <a [routerLink]="['/ma-ke-toan', quyTien.maKeToan?.id, 'view']"
                >{{ quyTien.maKeToan?.soHieu }} - {{ quyTien.maKeToan?.ten }}</a
              >
            </div>
          </td>
          <td>
            <div *ngIf="quyTien.khachSan">
              <a [routerLink]="['/khach-san', quyTien.khachSan?.id, 'view']">{{ quyTien.khachSan?.ten }}</a>
            </div>
          </td>
          <td>{{ quyTien.ghiChu }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/quy-tien', quyTien.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/quy-tien', quyTien.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(quyTien)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="quyTiens && quyTiens.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
