<div>
  <h2 id="page-heading" data-cy="PhieuChiHeading">
    <span jhiTranslate="finmansysApp.phieuChi.home.title">Phieu Chis</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="finmansysApp.phieuChi.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-phieu-chi"
        [routerLink]="['/phieu-chi/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="finmansysApp.phieuChi.home.createLabel"> Create a new Phieu Chi </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="phieuChis?.length === 0">
    <span jhiTranslate="finmansysApp.phieuChi.home.notFound">No phieuChis found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="phieuChis && phieuChis.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ngayChungTu">
            <span jhiTranslate="finmansysApp.phieuChi.ngayChungTu">Ngay Chung Tu</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="soTien">
            <span jhiTranslate="finmansysApp.phieuChi.soTien">So Tien</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="khachHang.ten">
            <span jhiTranslate="finmansysApp.phieuChi.khachHang">Khach Hang</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="khoanMucChiPhi.ten">
            <span jhiTranslate="finmansysApp.phieuChi.khoanMucChiPhi">Khoan Muc Chi Phi</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="khoanPhaiTra.id">
            <span jhiTranslate="finmansysApp.phieuChi.khoanPhaiTra">Khoan Phai Tra</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="quyTien.ten">
            <span jhiTranslate="finmansysApp.phieuChi.quyTien">Quy Tien</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let phieuChi of phieuChis; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/phieu-chi', phieuChi.id, 'view']">{{ phieuChi.id }}</a>
          </td>
          <td>{{ phieuChi.ngayChungTu | formatMediumDatetime }}</td>
          <td>{{ phieuChi.soTien | currency: 'VNĐ' }}</td>
          <td>
            <div *ngIf="phieuChi.khachHang">
              <a [routerLink]="['/khach-hang', phieuChi.khachHang?.id, 'view']">{{ phieuChi.khachHang?.ten }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="phieuChi.khoanMucChiPhi">
              <a [routerLink]="['/khoan-muc-chi-phi', phieuChi.khoanMucChiPhi?.id, 'view']">{{ phieuChi.khoanMucChiPhi?.ten }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="phieuChi.khoanPhaiTra">
              <a [routerLink]="['/khoan-phai-tra', phieuChi.khoanPhaiTra?.id, 'view']"
                >{{ phieuChi.khoanPhaiTra?.id }} - {{ phieuChi.khoanPhaiTra?.ghiChu }}</a
              >
            </div>
          </td>
          <td>
            <div *ngIf="phieuChi.quyTien">
              <a [routerLink]="['/quy-tien', phieuChi.quyTien?.id, 'view']">{{ phieuChi.quyTien?.ten }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/phieu-chi', phieuChi.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/phieu-chi', phieuChi.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(phieuChi)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="phieuChis && phieuChis.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
