<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-toan-tu-heading" data-cy="ToanTuCreateUpdateHeading" jhiTranslate="finmansysApp.toanTu.home.createOrEditLabel">
        Create or edit a Toan Tu
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.toanTu.congThuc" for="field_congThuc">Cong Thuc</label>
          <select class="form-control" id="field_congThuc" data-cy="congThuc" name="congThuc" formControlName="congThuc">
            <option *ngIf="!editForm.get('congThuc')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="congThucOption.id === editForm.get('congThuc')!.value?.id ? editForm.get('congThuc')!.value : congThucOption"
              *ngFor="let congThucOption of congThucsSharedCollection; trackBy: trackCongThucById"
            >
              {{ congThucOption.maSo }} - {{ congThucOption.tenChiTieu }}
            </option>
          </select>
        </div>

        <div *ngIf="editForm.get(['congThuc'])!.invalid && (editForm.get(['congThuc'])!.dirty || editForm.get(['congThuc'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['congThuc'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.toanTu.dau" for="field_dau">Dau</label>
          <select class="form-control" name="dau" id="field_dau" data-cy="dau" formControlName="dau">
            <option value="+">+</option>
            <option value="-">-</option>
          </select>
          <div *ngIf="editForm.get('dau')!.invalid && (editForm.get('dau')!.dirty || editForm.get('dau')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('dau')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.toanTu.maKeToan" for="field_maKeToan">Ma Ke Toan</label>
          <select class="form-control" id="field_maKeToan" data-cy="maKeToan" name="maKeToan" formControlName="maKeToan">
            <option *ngIf="!editForm.get('maKeToan')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="maKeToanOption.id === editForm.get('maKeToan')!.value?.id ? editForm.get('maKeToan')!.value : maKeToanOption"
              *ngFor="let maKeToanOption of maKeToansSharedCollection; trackBy: trackMaKeToanById"
            >
              {{ maKeToanOption.soHieu }} - {{ maKeToanOption.ten }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['maKeToan'])!.invalid && (editForm.get(['maKeToan'])!.dirty || editForm.get(['maKeToan'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['maKeToan'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
