<div>
  <h2 id="page-heading" data-cy="PhongDatHeading">
    <span jhiTranslate="finmansysApp.phongDat.home.title">Phong Dats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="finmansysApp.phongDat.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-phong-dat"
        [routerLink]="['/phong-dat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="finmansysApp.phongDat.home.createLabel"> Create a new Phong Dat </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="phongDats?.length === 0">
    <span jhiTranslate="finmansysApp.phongDat.home.notFound">No phongDats found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="phongDats && phongDats.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ngayDat">
            <span jhiTranslate="finmansysApp.phongDat.ngayDat">Ngay Dat</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="phong.ten">
            <span jhiTranslate="finmansysApp.phongDat.phong">Phong</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="phongDuocDat.id">
            <span jhiTranslate="finmansysApp.phongDat.phongDuocDat">Phong Duoc Dat</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let phongDat of phongDats; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/phong-dat', phongDat.id, 'view']">{{ phongDat.id }}</a>
          </td>
          <td>{{ phongDat.ngayDat | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="phongDat.phong">
              <a [routerLink]="['/phong', phongDat.phong?.id, 'view']">{{ phongDat.phong?.ten }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="phongDat.phongDuocDat">
              <a [routerLink]="['/phong-duoc-dat', phongDat.phongDuocDat?.id, 'view']">{{ phongDat.phongDuocDat?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/phong-dat', phongDat.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/phong-dat', phongDat.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(phongDat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="phongDats && phongDats.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
