<div>
  <h2 id="page-heading" data-cy="PhongHeading">
    <span jhiTranslate="finmansysApp.phong.home.title">Phongs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="finmansysApp.phong.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-phong"
        [routerLink]="['/phong/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="finmansysApp.phong.home.createLabel"> Create a new Phong </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="phongs?.length === 0">
    <span jhiTranslate="finmansysApp.phong.home.notFound">No phongs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="phongs && phongs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ten"><span jhiTranslate="finmansysApp.phong.ten">Ten</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="loai"><span jhiTranslate="finmansysApp.phong.loai">Loai</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="gia"><span jhiTranslate="finmansysApp.phong.gia">Gia</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="khachSan.ten">
            <span jhiTranslate="finmansysApp.phong.khachSan">Khach San</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let phong of phongs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/phong', phong.id, 'view']">{{ phong.id }}</a>
          </td>
          <td>{{ phong.ten }}</td>
          <td>{{ phong.loai }}</td>
          <td>{{ phong.gia | currency: 'VNĐ' }}</td>
          <td>
            <div *ngIf="phong.khachSan">
              <a [routerLink]="['/khach-san', phong.khachSan?.id, 'view']">{{ phong.khachSan?.ten }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/phong', phong.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/phong', phong.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(phong)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="phongs && phongs.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
