<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="dichVuSuDung">
      <h2 data-cy="dichVuSuDungDetailsHeading"><span jhiTranslate="finmansysApp.dichVuSuDung.detail.title">Dich Vu Su Dung</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ dichVuSuDung.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.dichVuSuDung.soLuong">So Luong</span></dt>
        <dd>
          <span>{{ dichVuSuDung.soLuong }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.dichVuSuDung.gia">Gia</span></dt>
        <dd>
          <span>{{ dichVuSuDung.gia }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.dichVuSuDung.ngaySuDung">Ngay Su Dung</span></dt>
        <dd>
          <span>{{ dichVuSuDung.ngaySuDung | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.dichVuSuDung.dichVu">Dich Vu</span></dt>
        <dd>
          <div *ngIf="dichVuSuDung.dichVu">
            <a [routerLink]="['/dich-vu', dichVuSuDung.dichVu?.id, 'view']">{{ dichVuSuDung.dichVu?.ten }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="finmansysApp.dichVuSuDung.phongDuocDat">Phong Duoc Dat</span></dt>
        <dd>
          <div *ngIf="dichVuSuDung.phongDuocDat">
            <a [routerLink]="['/phong-duoc-dat', dichVuSuDung.phongDuocDat?.id, 'view']">{{ dichVuSuDung.phongDuocDat?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/dich-vu-su-dung', dichVuSuDung.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
