<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="nganSachThang">
      <h2 data-cy="nganSachThangDetailsHeading"><span jhiTranslate="finmansysApp.nganSachThang.detail.title">Ngan Sach Thang</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ nganSachThang.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.nganSachThang.thang">Thang</span></dt>
        <dd>
          <span>{{ nganSachThang.thang }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.nganSachThang.soTien">So Tien</span></dt>
        <dd>
          <span>{{ nganSachThang.soTien }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.nganSachThang.nganSachNam">Ngan Sach Nam</span></dt>
        <dd>
          <div *ngIf="nganSachThang.nganSachNam">
            <a [routerLink]="['/ngan-sach-nam', nganSachThang.nganSachNam?.id, 'view']">{{ nganSachThang.nganSachNam?.ten }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="finmansysApp.nganSachThang.khoanMucChiPhi">Khoan Muc Chi Phi</span></dt>
        <dd>
          <div *ngIf="nganSachThang.khoanMucChiPhi">
            <a [routerLink]="['/khoan-muc-chi-phi', nganSachThang.khoanMucChiPhi?.id, 'view']">{{ nganSachThang.khoanMucChiPhi?.ten }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ngan-sach-thang', nganSachThang.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
