<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="loaiQuy">
      <h2 data-cy="loaiQuyDetailsHeading"><span jhiTranslate="finmansysApp.loaiQuy.detail.title">Loai Quy</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ loaiQuy.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.loaiQuy.ma">Ma</span></dt>
        <dd>
          <span>{{ loaiQuy.ma }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.loaiQuy.ten">Ten</span></dt>
        <dd>
          <span>{{ loaiQuy.ten }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/loai-quy', loaiQuy.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
