<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="khoanPhaiThu">
      <h2 data-cy="khoanPhaiThuDetailsHeading"><span jhiTranslate="finmansysApp.khoanPhaiThu.detail.title">Khoan Phai Thu</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ khoanPhaiThu.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khoanPhaiThu.soTien">So Tien</span></dt>
        <dd>
          <span>{{ khoanPhaiThu.soTien | currency: 'VNĐ' }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khoanPhaiThu.soTienDaNhan">So Tien Da Nhan</span></dt>
        <dd>
          <span>{{ soTienDaNhan | currency: 'VNĐ' }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khoanPhaiThu.soTienConThieu">So Tien Con Thieu</span></dt>
        <dd>
          <span>{{ soTienConThieu | currency: 'VNĐ' }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khoanPhaiThu.ngayTao">Ngay Tao</span></dt>
        <dd>
          <span>{{ khoanPhaiThu.ngayTao | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khoanPhaiThu.ngayPhaiThu">Ngay Phai Thu</span></dt>
        <dd>
          <span>{{ khoanPhaiThu.ngayPhaiThu | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khoanPhaiThu.ghiChu">Ghi Chu</span></dt>
        <dd>
          <span>{{ khoanPhaiThu.ghiChu }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khoanPhaiThu.khachHang">Khach Hang</span></dt>
        <dd>
          <div *ngIf="khoanPhaiThu.khachHang">
            <a [routerLink]="['/khach-hang', khoanPhaiThu.khachHang?.id, 'view']">{{ khoanPhaiThu.khachHang?.ten }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khoanPhaiThu.maKeToan">Ma Ke Toan</span></dt>
        <dd>
          <div *ngIf="khoanPhaiThu.maKeToan">
            <a [routerLink]="['/ma-ke-toan', khoanPhaiThu.maKeToan?.id, 'view']"
              >{{ khoanPhaiThu.maKeToan?.soHieu }} - {{ khoanPhaiThu.maKeToan?.ten }}</a
            >
          </div>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khoanPhaiThu.phongDuocDat">Phong Duoc Dat</span></dt>
        <dd>
          <div *ngIf="khoanPhaiThu.phongDuocDat">
            <a [routerLink]="['/phong-duoc-dat', khoanPhaiThu.phongDuocDat?.id, 'view']"
              >{{ khoanPhaiThu.phongDuocDat?.id }} - {{ khoanPhaiThu.phongDuocDat?.checkOut }}</a
            >
          </div>
        </dd>
      </dl>

      <h4>Danh sách phiếu thu</h4>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <th><span jhiTranslate="global.field.id">ID</span></th>
          <th><span jhiTranslate="finmansysApp.phieuChi.ngayChungTu">Ngay Chung Tu</span></th>
          <th><span jhiTranslate="finmansysApp.phieuChi.soTien">So Tien</span></th>
          <th><span jhiTranslate="finmansysApp.phieuChi.quyTien">Quy Tien</span></th>
        </thead>
        <tbody>
          <tr *ngFor="let phieuThu of khoanPhaiThu.phieuThus; let i = index">
            <td>
              <a [routerLink]="['/phieu-thu', phieuThu.id, 'view']">{{ phieuThu.id }}</a>
            </td>
            <td>{{ phieuThu.ngayChungTu }}</td>
            <td>{{ phieuThu.soTien | currency: 'VNĐ' }}</td>
            <td>
              <div *ngIf="phieuThu.quyTien">
                <a [routerLink]="['/quy-tien', phieuThu.quyTien?.id, 'view']">{{ phieuThu.quyTien?.ten }}</a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/khoan-phai-thu', khoanPhaiThu.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
