<div>
  <h2 id="page-heading" data-cy="DichVuHeading">
    <span jhiTranslate="finmansysApp.dichVu.home.title">Dich Vus</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="finmansysApp.dichVu.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dich-vu"
        [routerLink]="['/dich-vu/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="finmansysApp.dichVu.home.createLabel"> Create a new Dich Vu </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dichVus?.length === 0">
    <span jhiTranslate="finmansysApp.dichVu.home.notFound">No dichVus found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dichVus && dichVus.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ten"><span jhiTranslate="finmansysApp.dichVu.ten">Ten</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="gia"><span jhiTranslate="finmansysApp.dichVu.gia">Gia</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="moTa"><span jhiTranslate="finmansysApp.dichVu.moTa">Mo Ta</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dichVu of dichVus; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/dich-vu', dichVu.id, 'view']">{{ dichVu.id }}</a>
          </td>
          <td>{{ dichVu.ten }}</td>
          <td>{{ dichVu.gia | currency: 'VNĐ' }}</td>
          <td>{{ dichVu.moTa }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/dich-vu', dichVu.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/dich-vu', dichVu.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(dichVu)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="dichVus && dichVus.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
