<div>
  <h2 id="page-heading" data-cy="DichVuSuDungHeading">
    <span jhiTranslate="finmansysApp.dichVuSuDung.home.title">Dich Vu Su Dungs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="finmansysApp.dichVuSuDung.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dich-vu-su-dung"
        [routerLink]="['/dich-vu-su-dung/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="finmansysApp.dichVuSuDung.home.createLabel"> Create a new Dich Vu Su Dung </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dichVuSuDungs?.length === 0">
    <span jhiTranslate="finmansysApp.dichVuSuDung.home.notFound">No dichVuSuDungs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dichVuSuDungs && dichVuSuDungs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="soLuong">
            <span jhiTranslate="finmansysApp.dichVuSuDung.soLuong">So Luong</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="gia"><span jhiTranslate="finmansysApp.dichVuSuDung.gia">Gia</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ngaySuDung">
            <span jhiTranslate="finmansysApp.dichVuSuDung.ngaySuDung">Ngay Su Dung</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dichVu.ten">
            <span jhiTranslate="finmansysApp.dichVuSuDung.dichVu">Dich Vu</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="phongDuocDat.id">
            <span jhiTranslate="finmansysApp.dichVuSuDung.phongDuocDat">Phong Duoc Dat</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dichVuSuDung of dichVuSuDungs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/dich-vu-su-dung', dichVuSuDung.id, 'view']">{{ dichVuSuDung.id }}</a>
          </td>
          <td>{{ dichVuSuDung.soLuong }}</td>
          <td>{{ dichVuSuDung.gia }}</td>
          <td>{{ dichVuSuDung.ngaySuDung | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="dichVuSuDung.dichVu">
              <a [routerLink]="['/dich-vu', dichVuSuDung.dichVu?.id, 'view']">{{ dichVuSuDung.dichVu?.ten }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="dichVuSuDung.phongDuocDat">
              <a [routerLink]="['/phong-duoc-dat', dichVuSuDung.phongDuocDat?.id, 'view']">{{ dichVuSuDung.phongDuocDat?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/dich-vu-su-dung', dichVuSuDung.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/dich-vu-su-dung', dichVuSuDung.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(dichVuSuDung)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="dichVuSuDungs && dichVuSuDungs.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
