<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="phieuChi">
      <h2 data-cy="phieuChiDetailsHeading"><span jhiTranslate="finmansysApp.phieuChi.detail.title">Phieu Chi</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ phieuChi.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phieuChi.ngayChungTu">Ngay Chung Tu</span></dt>
        <dd>
          <span>{{ phieuChi.ngayChungTu | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phieuChi.soTien">So Tien</span></dt>
        <dd>
          <span>{{ phieuChi.soTien | currency: 'VNĐ' }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phieuChi.khachHang">Khach Hang</span></dt>
        <dd>
          <div *ngIf="phieuChi.khachHang">
            <a [routerLink]="['/khach-hang', phieuChi.khachHang?.id, 'view']">{{ phieuChi.khachHang?.ten }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phieuChi.khoanMucChiPhi">Khoan Muc Chi Phi</span></dt>
        <dd>
          <div *ngIf="phieuChi.khoanMucChiPhi">
            <a [routerLink]="['/khoan-muc-chi-phi', phieuChi.khoanMucChiPhi?.id, 'view']">{{ phieuChi.khoanMucChiPhi?.ten }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phieuChi.khoanPhaiTra">Khoan Phai Tra</span></dt>
        <dd>
          <div *ngIf="phieuChi.khoanPhaiTra">
            <a [routerLink]="['/khoan-phai-tra', phieuChi.khoanPhaiTra?.id, 'view']"
              >{{ phieuChi.khoanPhaiTra?.id }} - {{ phieuChi.khoanPhaiTra?.ghiChu }}</a
            >
          </div>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phieuChi.quyTien">Quy Tien</span></dt>
        <dd>
          <div *ngIf="phieuChi.quyTien">
            <a [routerLink]="['/quy-tien', phieuChi.quyTien?.id, 'view']">{{ phieuChi.quyTien?.ten }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/phieu-chi', phieuChi.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
