<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cong-thuc-heading" data-cy="CongThucCreateUpdateHeading" jhiTranslate="finmansysApp.congThuc.home.createOrEditLabel">
        Create or edit a Cong Thuc
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.congThuc.maSo" for="field_maSo">Ma So</label>
          <input type="number" class="form-control" name="maSo" id="field_maSo" data-cy="maSo" formControlName="maSo" />
          <div *ngIf="editForm.get('maSo')!.invalid && (editForm.get('maSo')!.dirty || editForm.get('maSo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('maSo')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('maSo')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.congThuc.tenChiTieu" for="field_tenChiTieu">Ten Chi Tieu</label>
          <input
            type="text"
            class="form-control"
            name="tenChiTieu"
            id="field_tenChiTieu"
            data-cy="tenChiTieu"
            formControlName="tenChiTieu"
          />
          <div *ngIf="editForm.get('tenChiTieu')!.invalid && (editForm.get('tenChiTieu')!.dirty || editForm.get('tenChiTieu')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tenChiTieu')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.congThuc.cap" for="field_cap">Cap</label>
          <input type="number" class="form-control" name="cap" id="field_cap" data-cy="cap" formControlName="cap" />
          <div *ngIf="editForm.get('cap')!.invalid && (editForm.get('cap')!.dirty || editForm.get('cap')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('cap')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('cap')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <!--        <div class="form-group">-->
        <!--          <label class="form-control-label" jhiTranslate="finmansysApp.congThuc.soDauKy" for="field_soDauKy">So Dau Ky</label>-->
        <!--          <input type="number" class="form-control" name="soDauKy" id="field_soDauKy" data-cy="soDauKy" formControlName="soDauKy" />-->
        <!--        </div>-->

        <!--        <div class="form-group">-->
        <!--          <label class="form-control-label" jhiTranslate="finmansysApp.congThuc.soCuoiKy" for="field_soCuoiKy">So Cuoi Ky</label>-->
        <!--          <input type="number" class="form-control" name="soCuoiKy" id="field_soCuoiKy" data-cy="soCuoiKy" formControlName="soCuoiKy" />-->
        <!--        </div>-->

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.congThuc.capCha" for="field_capCha">Cap Cha</label>
          <select class="form-control" id="field_capCha" data-cy="capCha" name="capCha" formControlName="capCha">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="congThucOption.id === editForm.get('capCha')!.value?.id ? editForm.get('capCha')!.value : congThucOption"
              *ngFor="let congThucOption of congThucsSharedCollection; trackBy: trackCongThucById"
            >
              {{ congThucOption.maSo }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
