<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="khoanMucChiPhi">
      <h2 data-cy="khoanMucChiPhiDetailsHeading"><span jhiTranslate="finmansysApp.khoanMucChiPhi.detail.title">Khoan Muc Chi Phi</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ khoanMucChiPhi.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khoanMucChiPhi.ten">Ten</span></dt>
        <dd>
          <span>{{ khoanMucChiPhi.ten }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khoanMucChiPhi.moTa">Mo Ta</span></dt>
        <dd>
          <span>{{ khoanMucChiPhi.moTa }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/khoan-muc-chi-phi', khoanMucChiPhi.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
