<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
  <div class="row justify-content-center">
    <div class="col-8">
      <h2
        id="jhi-ngan-sach-nam-heading"
        data-cy="NganSachNamCreateUpdateHeading"
        jhiTranslate="finmansysApp.nganSachNam.home.createOrEditLabel"
      >
        Create or edit a Ngan Sach Nam
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.nganSachNam.ten" for="field_ten">Ten</label>
          <input type="text" class="form-control" name="ten" id="field_ten" data-cy="ten" formControlName="ten" />
          <div *ngIf="editForm.get('ten')!.invalid && (editForm.get('ten')!.dirty || editForm.get('ten')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('ten')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.nganSachNam.nam" for="field_nam">Nam</label>
          <input type="number" class="form-control" name="nam" id="field_nam" data-cy="nam" formControlName="nam" />
          <div *ngIf="editForm.get('nam')!.invalid && (editForm.get('nam')!.dirty || editForm.get('nam')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nam')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nam')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 1 }"
            >
              This field should be at least 1.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('nam')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.nganSachNam.soTien" for="field_soTien">So Tien</label>
          <input type="number" class="form-control" name="soTien" id="field_soTien" data-cy="soTien" formControlName="soTien" />
          <div *ngIf="editForm.get('soTien')!.invalid && (editForm.get('soTien')!.dirty || editForm.get('soTien')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('soTien')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('soTien')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 1 }"
            >
              This field should be at least 1.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('soTien')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.nganSachNam.khachSan" for="field_khachSan">Khach San</label>
          <select class="form-control" id="field_khachSan" data-cy="khachSan" name="khachSan" formControlName="khachSan">
            <option *ngIf="!editForm.get('khachSan')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="khachSanOption.id === editForm.get('khachSan')!.value?.id ? editForm.get('khachSan')!.value : khachSanOption"
              *ngFor="let khachSanOption of khachSansSharedCollection; trackBy: trackKhachSanById"
            >
              {{ khachSanOption.ten }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['khachSan'])!.invalid && (editForm.get(['khachSan'])!.dirty || editForm.get(['khachSan'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['khachSan'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div *ngIf="khoanMucChiPhis">
        <h4>Danh sách ngân sách tháng</h4>
        <table class="table table-bordered table-hover">
          <thead>
            <th scope="col">STT</th>
            <th scope="col">Khoản mục</th>
            <th scope="col">Tháng 1</th>
            <th scope="col">Tháng 2</th>
            <th scope="col">Tháng 3</th>
            <th scope="col">Tháng 4</th>
            <th scope="col">Tháng 5</th>
            <th scope="col">Tháng 6</th>
            <th scope="col">Tháng 7</th>
            <th scope="col">Tháng 8</th>
            <th scope="col">Tháng 9</th>
            <th scope="col">Tháng 10</th>
            <th scope="col">Tháng 11</th>
            <th scope="col">Tháng 12</th>
            <th scope="col">Tổng</th>
          </thead>
          <tbody>
            <tr *ngFor="let khoanMucChiPhi of khoanMucChiPhis; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ khoanMucChiPhi?.ten }}</td>
              <td *ngFor="let j of listMonth">
                <input
                  class="form-control"
                  (change)="onChangeMoney(j, khoanMucChiPhi, $event)"
                  type="number"
                  value="{{ getMoney(j, khoanMucChiPhi) }}"
                />
              </td>
              <td>{{ listTotal[i + 1] | currency: ' ' }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </div>
  </div>
</form>
