<div class="row justify-content-center">
  <div class="col-12">
    <h2><span jhiTranslate="global.menu.xemBaoCao.bangCanDoiKeToan"></span></h2>
    <br />
    <div class="col-4" style="display: flex">
      <h5 style="display: flex; align-items: center; padding-top: 8px">Kỳ</h5>
      <select class="select-box" [(ngModel)]="type" (change)="getData()">
        <option value="0">Cả năm</option>
        <option value="1">Quý 1</option>
        <option value="2">Quý 2</option>
        <option value="3">Quý 3</option>
        <option value="4">Quý 4</option>
      </select>
      <h5 style="display: flex; align-items: center; padding-top: 8px; margin-left: 15px">Năm</h5>
      <select class="select-box" [(ngModel)]="year" (change)="getData()">
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
      </select>
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-khoan-phai-thu"
        style="margin-left: 15px"
        (click)="getData()"
      >
        <span>Xem</span>
      </button>
    </div>
    <br />
    <table class="table table-bordered table-hover">
      <thead>
        <th style="text-align: center">Mã số</th>
        <th style="text-align: center">Tên chỉ tiêu</th>
        <th style="text-align: center">Số đầu kỳ</th>
        <th style="text-align: center">Số cuối kỳ</th>
        <th style="text-align: center; width: 300px">Công thức</th>
      </thead>
      <tbody>
        <tr *ngFor="let congThuc of congThucs" [ngStyle]="getStyleCap(congThuc)">
          <td>
            <a [routerLink]="['/cong-thuc', congThuc.id, 'view']">{{ congThuc.maSo }}</a>
          </td>
          <td>{{ congThuc.tenChiTieu }}</td>
          <td>{{ congThuc.soDauKy | currency: 'VNĐ' }}</td>
          <td>{{ congThuc.soCuoiKy | currency: 'VNĐ' }}</td>
          <td>{{ getCongThuc(congThuc) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
