<div>
  <h2 id="page-heading" data-cy="NganSachThangHeading">
    <span jhiTranslate="finmansysApp.nganSachThang.home.title">Ngan Sach Thangs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="finmansysApp.nganSachThang.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ngan-sach-thang"
        [routerLink]="['/ngan-sach-thang/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="finmansysApp.nganSachThang.home.createLabel"> Create a new Ngan Sach Thang </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="nganSachThangs?.length === 0">
    <span jhiTranslate="finmansysApp.nganSachThang.home.notFound">No nganSachThangs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="nganSachThangs && nganSachThangs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="thang">
            <span jhiTranslate="finmansysApp.nganSachThang.thang">Thang</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="soTien">
            <span jhiTranslate="finmansysApp.nganSachThang.soTien">So Tien</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nganSachNam.ten">
            <span jhiTranslate="finmansysApp.nganSachThang.nganSachNam">Ngan Sach Nam</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="khoanMucChiPhi.ten">
            <span jhiTranslate="finmansysApp.nganSachThang.khoanMucChiPhi">Khoan Muc Chi Phi</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nganSachThang of nganSachThangs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ngan-sach-thang', nganSachThang.id, 'view']">{{ nganSachThang.id }}</a>
          </td>
          <td>{{ nganSachThang.thang }}</td>
          <td>{{ nganSachThang.soTien }}</td>
          <td>
            <div *ngIf="nganSachThang.nganSachNam">
              <a [routerLink]="['/ngan-sach-nam', nganSachThang.nganSachNam?.id, 'view']">{{ nganSachThang.nganSachNam?.ten }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="nganSachThang.khoanMucChiPhi">
              <a [routerLink]="['/khoan-muc-chi-phi', nganSachThang.khoanMucChiPhi?.id, 'view']">{{ nganSachThang.khoanMucChiPhi?.ten }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ngan-sach-thang', nganSachThang.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ngan-sach-thang', nganSachThang.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(nganSachThang)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="nganSachThangs && nganSachThangs.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
