<div>
  <h2 id="page-heading" data-cy="ChiTietGiamTSCDHeading">
    <span jhiTranslate="finmansysApp.chiTietGiamTSCD.home.title">Chi Tiet Giam TSCDS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="finmansysApp.chiTietGiamTSCD.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-chi-tiet-giam-tscd"
        [routerLink]="['/chi-tiet-giam-tscd/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="finmansysApp.chiTietGiamTSCD.home.createLabel"> Create a new Chi Tiet Giam TSCD </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="chiTietGiamTSCDS?.length === 0">
    <span jhiTranslate="finmansysApp.chiTietGiamTSCD.home.notFound">No chiTietGiamTSCDS found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="chiTietGiamTSCDS && chiTietGiamTSCDS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ngayMua">
            <span jhiTranslate="finmansysApp.chiTietGiamTSCD.ngayMua">Ngay Mua</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="soLuong">
            <span jhiTranslate="finmansysApp.chiTietGiamTSCD.soLuong">So Luong</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="khauHao">
            <span jhiTranslate="finmansysApp.chiTietGiamTSCD.khauHao">Khau Hao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="soTienThanhLy">
            <span jhiTranslate="finmansysApp.chiTietGiamTSCD.soTienThanhLy">So Tien Thanh Ly</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="chiPhiMua">
            <span jhiTranslate="finmansysApp.chiTietGiamTSCD.chiPhiMua">Chi Phi Mua</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="taiSanCD.ten">
            <span jhiTranslate="finmansysApp.chiTietGiamTSCD.taiSanCD">Tai San CD</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chiTietGiamTSCD of chiTietGiamTSCDS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/chi-tiet-giam-tscd', chiTietGiamTSCD.id, 'view']">{{ chiTietGiamTSCD.id }}</a>
          </td>
          <td>{{ chiTietGiamTSCD.ngayMua | formatMediumDatetime }}</td>
          <td>{{ chiTietGiamTSCD.soLuong }}</td>
          <td>{{ chiTietGiamTSCD.khauHao | currency: 'VNĐ' }}</td>
          <td>{{ chiTietGiamTSCD.soTienThanhLy | currency: 'VNĐ' }}</td>
          <td>{{ chiTietGiamTSCD.chiPhiMua | currency: 'VNĐ' }}</td>
          <td>
            <div *ngIf="chiTietGiamTSCD.taiSanCD">
              <a [routerLink]="['/tai-san-cd', chiTietGiamTSCD.taiSanCD?.id, 'view']">{{ chiTietGiamTSCD.taiSanCD?.ten }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/chi-tiet-giam-tscd', chiTietGiamTSCD.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/chi-tiet-giam-tscd', chiTietGiamTSCD.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(chiTietGiamTSCD)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="chiTietGiamTSCDS && chiTietGiamTSCDS.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
