<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="maKeToan">
      <h2 data-cy="maKeToanDetailsHeading"><span jhiTranslate="finmansysApp.maKeToan.detail.title">Ma Ke Toan</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ maKeToan.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.maKeToan.soHieu">So Hieu</span></dt>
        <dd>
          <span>{{ maKeToan.soHieu }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.maKeToan.ten">Ten</span></dt>
        <dd>
          <span>{{ maKeToan.ten }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ma-ke-toan', maKeToan.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
