<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="toanTu">
      <h2 data-cy="toanTuDetailsHeading"><span jhiTranslate="finmansysApp.toanTu.detail.title">Toan Tu</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ toanTu.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.toanTu.dau">Dau</span></dt>
        <dd>
          <span>{{ toanTu.dau }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.toanTu.maKeToan">Ma Ke Toan</span></dt>
        <dd>
          <div *ngIf="toanTu.maKeToan">
            <a [routerLink]="['/ma-ke-toan', toanTu.maKeToan?.id, 'view']">{{ toanTu.maKeToan?.soHieu }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="finmansysApp.toanTu.congThuc">Cong Thuc</span></dt>
        <dd>
          <div *ngIf="toanTu.congThuc">
            <a [routerLink]="['/cong-thuc', toanTu.congThuc?.id, 'view']">{{ toanTu.congThuc?.maSo }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/toan-tu', toanTu.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
