<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="phong">
      <h2 data-cy="phongDetailsHeading"><span jhiTranslate="finmansysApp.phong.detail.title">Phong</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ phong.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phong.ten">Ten</span></dt>
        <dd>
          <span>{{ phong.ten }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phong.loai">Loai</span></dt>
        <dd>
          <span>{{ phong.loai }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phong.gia">Gia</span></dt>
        <dd>
          <span>{{ phong.gia | currency: 'VNĐ' }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phong.khachSan">Khach San</span></dt>
        <dd>
          <div *ngIf="phong.khachSan">
            <a [routerLink]="['/khach-san', phong.khachSan?.id, 'view']">{{ phong.khachSan?.ten }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/phong', phong.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
