<div>
  <h2 id="page-heading" data-cy="KhoanPhaiTraHeading">
    <span jhiTranslate="finmansysApp.khoanPhaiTra.home.title">Khoan Phai Tras</span>
    <form name="editForm" role="form" novalidate [formGroup]="editForm">
      <div class="form-group d-flex">
        <div class="d-flex">
          <h5
            style="display: flex; align-items: center; padding-top: 8px; margin-right: 15px"
            class="form-control-label"
            for="field_tuNgay"
          >
            Từ ngày
          </h5>
          <div class="d-flex">
            <input
              id="field_tuNgay"
              data-cy="tuNgay"
              type="datetime-local"
              class="form-control"
              name="tuNgay"
              formControlName="tuNgay"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
        <div class="d-flex" style="margin-left: 15px; margin-right: 15px">
          <h5
            style="display: flex; align-items: center; padding-top: 8px; margin-right: 15px"
            class="form-control-label"
            for="field_denNgay"
          >
            Đến ngày
          </h5>
          <div class="d-flex">
            <input
              id="field_denNgay"
              data-cy="denNgay"
              type="datetime-local"
              class="form-control"
              name="denNgay"
              formControlName="denNgay"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
            <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
            <span jhiTranslate="finmansysApp.khoanPhaiTra.home.refreshListLabel">Refresh List</span>
          </button>

          <button
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-khoan-phai-tra"
            [routerLink]="['/khoan-phai-tra/new']"
          >
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="finmansysApp.khoanPhaiTra.home.createLabel"> Create a new Khoan Phai Tra </span>
          </button>
        </div>
      </div>
    </form>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="khoanPhaiTras?.length === 0">
    <span jhiTranslate="finmansysApp.khoanPhaiTra.home.notFound">No khoanPhaiTras found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="khoanPhaiTras && khoanPhaiTras.length > 0">
    <table class="table" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ngayTao">
            <span jhiTranslate="finmansysApp.khoanPhaiTra.ngayTao">Ngay Tao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ngayPhaiTra">
            <span jhiTranslate="finmansysApp.khoanPhaiTra.ngayPhaiTra">Ngay Phai Tra</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="soTien">
            <span jhiTranslate="finmansysApp.khoanPhaiTra.soTien">So Tien</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ghiChu">
            <span jhiTranslate="finmansysApp.khoanPhaiTra.ghiChu">Ghi Chu</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="khachHang.ten">
            <span jhiTranslate="finmansysApp.khoanPhaiTra.khachHang">Khach Hang</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="maKeToan.soHieu">
            <span jhiTranslate="finmansysApp.khoanPhaiTra.maKeToan">Ma Ke Toan</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let khoanPhaiTra of khoanPhaiTras; trackBy: trackId" data-cy="entityTable" [ngStyle]="checkDay(khoanPhaiTra)">
          <td>
            <a [routerLink]="['/khoan-phai-tra', khoanPhaiTra.id, 'view']">{{ khoanPhaiTra.id }}</a>
          </td>
          <td>{{ khoanPhaiTra.ngayTao | formatMediumDatetime }}</td>
          <td>{{ khoanPhaiTra.ngayPhaiTra | formatMediumDatetime }}</td>
          <td>{{ khoanPhaiTra.soTien | currency: 'VNĐ' }}</td>
          <td>{{ khoanPhaiTra.ghiChu }}</td>
          <td>
            <div *ngIf="khoanPhaiTra.khachHang">
              <a [routerLink]="['/khach-hang', khoanPhaiTra.khachHang?.id, 'view']">{{ khoanPhaiTra.khachHang?.ten }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="khoanPhaiTra.maKeToan">
              <a [routerLink]="['/ma-ke-toan', khoanPhaiTra.maKeToan?.id, 'view']"
                >{{ khoanPhaiTra.maKeToan?.soHieu }} - {{ khoanPhaiTra.maKeToan?.ten }}</a
              >
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/khoan-phai-tra', khoanPhaiTra.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/khoan-phai-tra', khoanPhaiTra.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(khoanPhaiTra)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="khoanPhaiTras && khoanPhaiTras.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
