<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-khoan-phai-tra-heading"
        data-cy="KhoanPhaiTraCreateUpdateHeading"
        jhiTranslate="finmansysApp.khoanPhaiTra.home.createOrEditLabel"
      >
        Create or edit a Khoan Phai Tra
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.khoanPhaiTra.ngayTao" for="field_ngayTao">Ngay Tao</label>
          <div class="d-flex">
            <input
              id="field_ngayTao"
              data-cy="ngayTao"
              type="datetime-local"
              class="form-control"
              name="ngayTao"
              formControlName="ngayTao"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('ngayTao')!.invalid && (editForm.get('ngayTao')!.dirty || editForm.get('ngayTao')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('ngayTao')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('ngayTao')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.khoanPhaiTra.ngayPhaiTra" for="field_ngayPhaiTra"
            >Ngay Phai Tra</label
          >
          <div class="d-flex">
            <input
              id="field_ngayPhaiTra"
              data-cy="ngayPhaiTra"
              type="datetime-local"
              class="form-control"
              name="ngayPhaiTra"
              formControlName="ngayPhaiTra"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('ngayPhaiTra')!.invalid && (editForm.get('ngayPhaiTra')!.dirty || editForm.get('ngayPhaiTra')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('ngayPhaiTra')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('ngayPhaiTra')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.khoanPhaiTra.soTien" for="field_soTien">So Tien</label>
          <input type="number" class="form-control" name="soTien" id="field_soTien" data-cy="soTien" formControlName="soTien" />
          <div *ngIf="editForm.get('soTien')!.invalid && (editForm.get('soTien')!.dirty || editForm.get('soTien')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('soTien')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('soTien')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 1 }"
            >
              This field should be at least 1.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('soTien')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.khoanPhaiTra.ghiChu" for="field_ghiChu">Ghi Chu</label>
          <input type="text" class="form-control" name="ghiChu" id="field_ghiChu" data-cy="ghiChu" formControlName="ghiChu" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.khoanPhaiTra.khachHang" for="field_khachHang">Khach Hang</label>
          <select class="form-control" id="field_khachHang" data-cy="khachHang" name="khachHang" formControlName="khachHang">
            <option *ngIf="!editForm.get('khachHang')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="khachHangOption.id === editForm.get('khachHang')!.value?.id ? editForm.get('khachHang')!.value : khachHangOption"
              *ngFor="let khachHangOption of khachHangsSharedCollection; trackBy: trackKhachHangById"
            >
              {{ khachHangOption.ten }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['khachHang'])!.invalid && (editForm.get(['khachHang'])!.dirty || editForm.get(['khachHang'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['khachHang'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.khoanPhaiTra.maKeToan" for="field_maKeToan">Ma Ke Toan</label>
          <select class="form-control" id="field_maKeToan" data-cy="maKeToan" name="maKeToan" formControlName="maKeToan">
            <option *ngIf="!editForm.get('maKeToan')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="maKeToanOption.id === editForm.get('maKeToan')!.value?.id ? editForm.get('maKeToan')!.value : maKeToanOption"
              *ngFor="let maKeToanOption of maKeToansSharedCollection; trackBy: trackMaKeToanById"
            >
              {{ maKeToanOption.soHieu }} - {{ maKeToanOption.ten }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['maKeToan'])!.invalid && (editForm.get(['maKeToan'])!.dirty || editForm.get(['maKeToan'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['maKeToan'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
