<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-quy-tien-heading" data-cy="QuyTienCreateUpdateHeading" jhiTranslate="finmansysApp.quyTien.home.createOrEditLabel">
        Create or edit a Quy Tien
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.quyTien.soTien" for="field_soTien">So Tien</label>
          <input type="number" class="form-control" name="soTien" id="field_soTien" data-cy="soTien" formControlName="soTien" />
          <div *ngIf="editForm.get('soTien')!.invalid && (editForm.get('soTien')!.dirty || editForm.get('soTien')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('soTien')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('soTien')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 1 }"
            >
              This field should be at least 1.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('soTien')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.quyTien.ghiChu" for="field_ghiChu">Ghi Chu</label>
          <input type="text" class="form-control" name="ghiChu" id="field_ghiChu" data-cy="ghiChu" formControlName="ghiChu" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.quyTien.ten" for="field_ten">Ten</label>
          <input type="text" class="form-control" name="ten" id="field_ten" data-cy="ten" formControlName="ten" />
          <div *ngIf="editForm.get('ten')!.invalid && (editForm.get('ten')!.dirty || editForm.get('ten')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('ten')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.quyTien.loaiQuy" for="field_loaiQuy">Loai Quy</label>
          <select class="form-control" id="field_loaiQuy" data-cy="loaiQuy" name="loaiQuy" formControlName="loaiQuy">
            <option *ngIf="!editForm.get('loaiQuy')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="loaiQuyOption.id === editForm.get('loaiQuy')!.value?.id ? editForm.get('loaiQuy')!.value : loaiQuyOption"
              *ngFor="let loaiQuyOption of loaiQuiesSharedCollection; trackBy: trackLoaiQuyById"
            >
              {{ loaiQuyOption.ten }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['loaiQuy'])!.invalid && (editForm.get(['loaiQuy'])!.dirty || editForm.get(['loaiQuy'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['loaiQuy'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.quyTien.maKeToan" for="field_maKeToan">Ma Ke Toan</label>
          <select class="form-control" id="field_maKeToan" data-cy="maKeToan" name="maKeToan" formControlName="maKeToan">
            <option *ngIf="!editForm.get('maKeToan')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="maKeToanOption.id === editForm.get('maKeToan')!.value?.id ? editForm.get('maKeToan')!.value : maKeToanOption"
              *ngFor="let maKeToanOption of maKeToansSharedCollection; trackBy: trackMaKeToanById"
            >
              {{ maKeToanOption.soHieu }} - {{ maKeToanOption.ten }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['maKeToan'])!.invalid && (editForm.get(['maKeToan'])!.dirty || editForm.get(['maKeToan'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['maKeToan'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.quyTien.khachSan" for="field_khachSan">Khach San</label>
          <select class="form-control" id="field_khachSan" data-cy="khachSan" name="khachSan" formControlName="khachSan">
            <option *ngIf="!editForm.get('khachSan')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="khachSanOption.id === editForm.get('khachSan')!.value?.id ? editForm.get('khachSan')!.value : khachSanOption"
              *ngFor="let khachSanOption of khachSansSharedCollection; trackBy: trackKhachSanById"
            >
              {{ khachSanOption.ten }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['khachSan'])!.invalid && (editForm.get(['khachSan'])!.dirty || editForm.get(['khachSan'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['khachSan'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
