<div class="row justify-content-center">
  <div class="col-12">
    <h2>Báo cáo doanh thu</h2>
    <div class="col-4" style="display: flex">
      <h5 style="display: flex; align-items: center; padding-top: 8px">Tháng</h5>
      <select class="select-box" [(ngModel)]="month" (change)="getData()">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="8">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <h5 style="display: flex; align-items: center; padding-top: 8px; margin-left: 15px">Năm</h5>
      <select class="select-box" [(ngModel)]="year" (change)="getData()">
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
      </select>
      <h5 style="display: flex; align-items: center; padding-top: 8px; margin-left: 15px">Khách sạn</h5>
      <select class="select-box" [(ngModel)]="khachSanId" (change)="getData()">
        <option *ngFor="let khachSan of khachSans" value="khachSan.id">{{ khachSan.ten }}</option>
      </select>
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-khoan-phai-thu"
        style="margin-left: 15px"
        (click)="getData()"
      >
        <span>Xem</span>
      </button>
    </div>
    <br />
    <div *ngIf="phieuThus.length > 0">
      <jhi-my-tabs>
        <jhi-my-tab [tabTitle]="'Thống kê'">
          <dl class="row-md jh-entity-details">
            <dt>Tổng doanh thu:</dt>
            <dd>
              <span>{{ getTongDoanhThu() | currency: 'VNĐ' }}</span>
            </dd>
            <dt>Doanh thu lớn nhất:</dt>
            <dd>
              <span>{{ getPhieuThuMax().soTien | currency: 'VNĐ' }}</span>
            </dd>
            <dt>Khách hàng tiềm năng:</dt>
            <dd>
              <a [routerLink]="['/khach-hang', getPhieuThuMax().khachHang?.id, 'view']">{{ getPhieuThuMax().khachHang?.ten }}</a>
            </dd>
            <dt>Dự đoán doanh thu tháng sau:</dt>
            <dd>
              <span>{{ predicate | currency: 'VNĐ' }}</span>
            </dd>
          </dl>
        </jhi-my-tab>
        <jhi-my-tab [tabTitle]="'Chi tiết'">
          <h4>Danh sách phiếu thu</h4>
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <th>Ngày chứng từ</th>
              <th>Số tiền</th>
              <th>Quỹ tiền</th>
              <th>Khách hàng</th>
            </thead>
            <tbody>
              <tr *ngFor="let phieuThu of phieuThus">
                <td>{{ phieuThu.ngayChungTu | formatMediumDatetime }}</td>
                <td>{{ phieuThu.soTien | currency: 'VNĐ' }}</td>
                <td>{{ phieuThu.quyTien?.ten }}</td>
                <td>{{ phieuThu.khachHang?.ten }}</td>
              </tr>
            </tbody>
          </table>
        </jhi-my-tab>
      </jhi-my-tabs>
    </div>
  </div>
</div>
