<div>
  <h2 id="page-heading" data-cy="TaiSanCDHeading">
    <span jhiTranslate="finmansysApp.taiSanCD.home.title">Tai San CDS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="finmansysApp.taiSanCD.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tai-san-cd"
        [routerLink]="['/tai-san-cd/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="finmansysApp.taiSanCD.home.createLabel"> Create a new Tai San CD </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="taiSanCDS?.length === 0">
    <span jhiTranslate="finmansysApp.taiSanCD.home.notFound">No taiSanCDS found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="taiSanCDS && taiSanCDS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ten"><span jhiTranslate="finmansysApp.taiSanCD.ten">Ten</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="donViTuoiTho">
            <span jhiTranslate="finmansysApp.taiSanCD.donViTuoiTho">Don Vi Tuoi Tho</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="thoiGianSuDung">
            <span jhiTranslate="finmansysApp.taiSanCD.thoiGianSuDung">Thoi Gian Su Dung</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="hinhAnh">
            <span jhiTranslate="finmansysApp.taiSanCD.hinhAnh">Hinh Anh</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="khachSan.ten">
            <span jhiTranslate="finmansysApp.taiSanCD.khachSan">Khach San</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="loaiTaiSan.ten">
            <span jhiTranslate="finmansysApp.taiSanCD.loaiTaiSan">Loai Tai San</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let taiSanCD of taiSanCDS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tai-san-cd', taiSanCD.id, 'view']">{{ taiSanCD.id }}</a>
          </td>
          <td>{{ taiSanCD.ten }}</td>
          <td>{{ taiSanCD.donViTuoiTho }}</td>
          <td>{{ taiSanCD.thoiGianSuDung }}</td>
          <td>
            <a *ngIf="taiSanCD.hinhAnh" (click)="openFile(taiSanCD.hinhAnh, taiSanCD.hinhAnhContentType)">
              <img
                [src]="'data:' + taiSanCD.hinhAnhContentType + ';base64,' + taiSanCD.hinhAnh"
                style="max-height: 30px"
                alt="taiSanCD image"
              />
            </a>
            <span *ngIf="taiSanCD.hinhAnh">{{ taiSanCD.hinhAnhContentType }}, {{ byteSize(taiSanCD.hinhAnh) }}</span>
          </td>
          <td>
            <div *ngIf="taiSanCD.khachSan">
              <a [routerLink]="['/khach-san', taiSanCD.khachSan?.id, 'view']">{{ taiSanCD.khachSan?.ten }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="taiSanCD.loaiTaiSan">
              <a [routerLink]="['/loai-tai-san', taiSanCD.loaiTaiSan?.id, 'view']">{{ taiSanCD.loaiTaiSan?.ten }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tai-san-cd', taiSanCD.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tai-san-cd', taiSanCD.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(taiSanCD)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="taiSanCDS && taiSanCDS.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
