<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="chiTietTangTSCD">
      <h2 data-cy="chiTietTangTSCDDetailsHeading">
        <span jhiTranslate="finmansysApp.chiTietTangTSCD.detail.title">Chi Tiet Tang TSCD</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ chiTietTangTSCD.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.chiTietTangTSCD.ngayThuMua">Ngay Thu Mua</span></dt>
        <dd>
          <span>{{ chiTietTangTSCD.ngayThuMua | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.chiTietTangTSCD.soLuong">So Luong</span></dt>
        <dd>
          <span>{{ chiTietTangTSCD.soLuong }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.chiTietTangTSCD.chiPhiMua">Chi Phi Mua</span></dt>
        <dd>
          <span>{{ chiTietTangTSCD.chiPhiMua | currency: 'VNĐ' }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.chiTietTangTSCD.taiSanCD">Tai San CD</span></dt>
        <dd>
          <div *ngIf="chiTietTangTSCD.taiSanCD">
            <a [routerLink]="['/tai-san-cd', chiTietTangTSCD.taiSanCD?.id, 'view']">{{ chiTietTangTSCD.taiSanCD?.ten }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/chi-tiet-tang-tscd', chiTietTangTSCD.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
