<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-loai-tai-san-heading"
        data-cy="LoaiTaiSanCreateUpdateHeading"
        jhiTranslate="finmansysApp.loaiTaiSan.home.createOrEditLabel"
      >
        Create or edit a Loai Tai San
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.loaiTaiSan.ten" for="field_ten">Ten</label>
          <input type="text" class="form-control" name="ten" id="field_ten" data-cy="ten" formControlName="ten" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.loaiTaiSan.moTa" for="field_moTa">Mo Ta</label>
          <input type="text" class="form-control" name="moTa" id="field_moTa" data-cy="moTa" formControlName="moTa" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.loaiTaiSan.maKeToan" for="field_maKeToan">Ma Ke Toan</label>
          <select class="form-control" id="field_maKeToan" data-cy="maKeToan" name="maKeToan" formControlName="maKeToan">
            <option *ngIf="!editForm.get('maKeToan')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="maKeToanOption.id === editForm.get('maKeToan')!.value?.id ? editForm.get('maKeToan')!.value : maKeToanOption"
              *ngFor="let maKeToanOption of maKeToansSharedCollection; trackBy: trackMaKeToanById"
            >
              {{ maKeToanOption.soHieu }} - {{ maKeToanOption.ten }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['maKeToan'])!.invalid && (editForm.get(['maKeToan'])!.dirty || editForm.get(['maKeToan'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['maKeToan'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
