<div>
  <h2 id="page-heading" data-cy="CongThucHeading">
    <span jhiTranslate="finmansysApp.congThuc.home.title">Cong Thucs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="finmansysApp.congThuc.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cong-thuc"
        [routerLink]="['/cong-thuc/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="finmansysApp.congThuc.home.createLabel"> Create a new Cong Thuc </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="congThucs?.length === 0">
    <span jhiTranslate="finmansysApp.congThuc.home.notFound">No congThucs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="congThucs && congThucs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="maSo"><span jhiTranslate="finmansysApp.congThuc.maSo">Ma So</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tenChiTieu">
            <span jhiTranslate="finmansysApp.congThuc.tenChiTieu">Ten Chi Tieu</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cap"><span jhiTranslate="finmansysApp.congThuc.cap">Cap</span> <fa-icon icon="sort"></fa-icon></th>
          <!--          <th scope="col" jhiSortBy="soDauKy">-->
          <!--            <span jhiTranslate="finmansysApp.congThuc.soDauKy">So Dau Ky</span> <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <!--          <th scope="col" jhiSortBy="soCuoiKy">-->
          <!--            <span jhiTranslate="finmansysApp.congThuc.soCuoiKy">So Cuoi Ky</span> <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <th scope="col" jhiSortBy="capCha.maSo">
            <span jhiTranslate="finmansysApp.congThuc.capCha">Cap Cha</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let congThuc of congThucs; trackBy: trackId" data-cy="entityTable" [ngStyle]="getStyleCap(congThuc)">
          <td>
            <a [routerLink]="['/cong-thuc', congThuc.id, 'view']">{{ congThuc.id }}</a>
          </td>
          <td>{{ congThuc.maSo }}</td>
          <td>{{ congThuc.tenChiTieu }}</td>
          <td>{{ congThuc.cap }}</td>
          <!--          <td>{{ congThuc.soDauKy }}</td>-->
          <!--          <td>{{ congThuc.soCuoiKy }}</td>-->
          <td>
            <div *ngIf="congThuc.capCha">
              <a [routerLink]="['/cong-thuc', congThuc.capCha?.id, 'view']">{{ congThuc.capCha?.maSo }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cong-thuc', congThuc.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cong-thuc', congThuc.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(congThuc)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="congThucs && congThucs.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
