<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-tai-san-cd-heading" data-cy="TaiSanCDCreateUpdateHeading" jhiTranslate="finmansysApp.taiSanCD.home.createOrEditLabel">
        Create or edit a Tai San CD
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.taiSanCD.ten" for="field_ten">Ten</label>
          <input type="text" class="form-control" name="ten" id="field_ten" data-cy="ten" formControlName="ten" />
          <div *ngIf="editForm.get('ten')!.invalid && (editForm.get('ten')!.dirty || editForm.get('ten')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('ten')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('ten')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.taiSanCD.donViTuoiTho" for="field_donViTuoiTho"
            >Don Vi Tuoi Tho</label
          >
          <select class="form-control" name="donViTuoiTho" id="field_donViTuoiTho" data-cy="donViTuoiTho" formControlName="donViTuoiTho">
            <option value="Tuần">Tuần</option>
            <option value="Tháng">Tháng</option>
            <option value="Quý">Quý</option>
            <option value="Năm">Năm</option>
          </select>
          <div
            *ngIf="editForm.get('donViTuoiTho')!.invalid && (editForm.get('donViTuoiTho')!.dirty || editForm.get('donViTuoiTho')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('donViTuoiTho')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.taiSanCD.thoiGianSuDung" for="field_thoiGianSuDung"
            >Thoi Gian Su Dung</label
          >
          <input
            type="number"
            class="form-control"
            name="thoiGianSuDung"
            id="field_thoiGianSuDung"
            data-cy="thoiGianSuDung"
            formControlName="thoiGianSuDung"
          />
          <div
            *ngIf="
              editForm.get('thoiGianSuDung')!.invalid && (editForm.get('thoiGianSuDung')!.dirty || editForm.get('thoiGianSuDung')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('thoiGianSuDung')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('thoiGianSuDung')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 1 }"
            >
              This field should be at least 1.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('thoiGianSuDung')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.taiSanCD.hinhAnh" for="field_hinhAnh">Hinh Anh</label>
          <div>
            <img
              [src]="'data:' + editForm.get('hinhAnhContentType')!.value + ';base64,' + editForm.get('hinhAnh')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('hinhAnh')!.value"
              alt="taiSanCD image"
            />
            <div *ngIf="editForm.get('hinhAnh')!.value" class="form-text text-danger clearfix">
              <span class="pull-left">{{ editForm.get('hinhAnhContentType')!.value }}, {{ byteSize(editForm.get('hinhAnh')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('hinhAnh', 'hinhAnhContentType', 'file_hinhAnh')"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_hinhAnh"
              data-cy="hinhAnh"
              (change)="setFileData($event, 'hinhAnh', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="hinhAnh" id="field_hinhAnh" data-cy="hinhAnh" formControlName="hinhAnh" />
          <input
            type="hidden"
            class="form-control"
            name="hinhAnhContentType"
            id="field_hinhAnhContentType"
            formControlName="hinhAnhContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.taiSanCD.khachSan" for="field_khachSan">Khach San</label>
          <select class="form-control" id="field_khachSan" data-cy="khachSan" name="khachSan" formControlName="khachSan">
            <option *ngIf="!editForm.get('khachSan')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="khachSanOption.id === editForm.get('khachSan')!.value?.id ? editForm.get('khachSan')!.value : khachSanOption"
              *ngFor="let khachSanOption of khachSansSharedCollection; trackBy: trackKhachSanById"
            >
              {{ khachSanOption.ten }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['khachSan'])!.invalid && (editForm.get(['khachSan'])!.dirty || editForm.get(['khachSan'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['khachSan'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.taiSanCD.loaiTaiSan" for="field_loaiTaiSan">Loai Tai San</label>
          <select class="form-control" id="field_loaiTaiSan" data-cy="loaiTaiSan" name="loaiTaiSan" formControlName="loaiTaiSan">
            <option *ngIf="!editForm.get('loaiTaiSan')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                loaiTaiSanOption.id === editForm.get('loaiTaiSan')!.value?.id ? editForm.get('loaiTaiSan')!.value : loaiTaiSanOption
              "
              *ngFor="let loaiTaiSanOption of loaiTaiSansSharedCollection; trackBy: trackLoaiTaiSanById"
            >
              {{ loaiTaiSanOption.ten }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['loaiTaiSan'])!.invalid && (editForm.get(['loaiTaiSan'])!.dirty || editForm.get(['loaiTaiSan'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['loaiTaiSan'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
