<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="congThuc">
      <h2 data-cy="congThucDetailsHeading"><span jhiTranslate="finmansysApp.congThuc.detail.title">Cong Thuc</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ congThuc.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.congThuc.maSo">Ma So</span></dt>
        <dd>
          <span>{{ congThuc.maSo }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.congThuc.tenChiTieu">Ten Chi Tieu</span></dt>
        <dd>
          <span>{{ congThuc.tenChiTieu }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.congThuc.cap">Cap</span></dt>
        <dd>
          <span>{{ congThuc.cap }}</span>
        </dd>
        <!--        <dt><span jhiTranslate="finmansysApp.congThuc.soDauKy">So Dau Ky</span></dt>-->
        <!--        <dd>-->
        <!--          <span>{{ congThuc.soDauKy }}</span>-->
        <!--        </dd>-->
        <!--        <dt><span jhiTranslate="finmansysApp.congThuc.soCuoiKy">So Cuoi Ky</span></dt>-->
        <!--        <dd>-->
        <!--          <span>{{ congThuc.soCuoiKy }}</span>-->
        <!--        </dd>-->
        <dt><span jhiTranslate="finmansysApp.congThuc.capCha">Cap Cha</span></dt>
        <dd>
          <div *ngIf="congThuc.capCha">
            <a [routerLink]="['/cong-thuc', congThuc.capCha?.id, 'view']">{{ congThuc.capCha?.maSo }}</a>
          </div>
        </dd>
      </dl>
      <div *ngIf="checkCapCon">
        <h4>Danh sánh công thức cấp dưới</h4>
        <div class="table-responsive" id="entities">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
                <th scope="col"><span jhiTranslate="finmansysApp.congThuc.maSo">Ma So</span></th>
                <th scope="col">
                  <span jhiTranslate="finmansysApp.congThuc.tenChiTieu">Ten Chi Tieu</span>
                </th>
                <th scope="col"><span jhiTranslate="finmansysApp.congThuc.cap">Cap</span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let congThuc of congThuc?.capCons" data-cy="entityTable" [ngStyle]="getStyleCap(congThuc)">
                <td>
                  <a [routerLink]="['/cong-thuc', congThuc.id, 'view']">{{ congThuc.id }}</a>
                </td>
                <td>{{ congThuc.maSo }}</td>
                <td>{{ congThuc.tenChiTieu }}</td>
                <td>{{ congThuc.cap }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="checkToanTu">
        <h4>Danh sách toán tử</h4>
        <div class="table-responsive" id="entitiess">
          <table class="table table-striped" aria-describedby="page-heading">
            <thead>
              <tr>
                <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
                <th scope="col"><span jhiTranslate="finmansysApp.toanTu.dau">Dau</span></th>
                <th scope="col">
                  <span jhiTranslate="finmansysApp.toanTu.maKeToan">Ma Ke Toan</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let toanTu of congThuc.toanTus" data-cy="entityTable1">
                <td>
                  <a [routerLink]="['/toan-tu', toanTu.id, 'view']">{{ toanTu.id }}</a>
                </td>
                <td>{{ toanTu.dau }}</td>
                <td>
                  <div *ngIf="toanTu.maKeToan">
                    <a [routerLink]="['/ma-ke-toan', toanTu.maKeToan?.id, 'view']"
                      >{{ toanTu.maKeToan?.soHieu }} - {{ toanTu.maKeToan?.ten }}</a
                    >
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cong-thuc', congThuc.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
